.header img {
    max-height: 80px;
    margin: auto;
    display: block;
}

.header nav {
    background-color: #000;
}

.header nav ul li {
    list-style: none;
    display: inline-block;
}

.header nav ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    padding: 15px;
    display: inline-block;
    font-size: 18px;
}

.header nav ul li a:hover {
    background-color: #fff;
    color: #000;
}